.landing-container {
    text-align: center;
}

.card {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.landing-container .card {
    width: 600px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.card-body ul {
    width: 60%;
    margin: 0 auto;
    list-style: none;
}

.post-del {
    display: inline-block;
}