.card {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.card-img-top {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.card-body ul {
    width: 60%;
    margin: 0 auto;
    list-style: none;
}

.posts a {
    display: block;
}