{% extends 'base.html' %}
{% block title %}Post Page{% endblock %}
{% block content %}
    <div class="h2">{{post.title}}</div>
    <p class="">{{post.content}}</p>
    <p>By: {{user.first_name}} {{user.last_name}}</p>
    <a class="btn btn-secondary" href="/users/{{user.id}}">Back</a>
    <a class="btn btn-primary" href="/posts/{{post.id}}/edit">Edit</a>
    <form action="/posts/{{post.id}}/delete" method="POST">
        <button class="btn btn-danger" type="submit">Delete</button>
    </form>
{% endblock %}